<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <figure>
      <a href="/">
        <img src="/img/logo-DH.png" alt="Logo Digital House" />
      </a>
    </figure>
    <h1>Movies</h1>    <br>
    <p>
        <a class="botonAgregar" href="/movies/add">Create</a>
        <a class="botonVolver" href="/">Home</a>

    </p>
    <br>
    <ul>
      <% for( let i = 0; i < movies.length; i++ ) { %>
      <li>
        <a href="/movies/detail/<%= movies[i].id %>"
          ><%= movies[i].title %> - <%= movies[i].genre ? movies[i].genre.name
          : 'Sin género' %>
          <ul>
            <% for (let j=0; j < movies[i].actors.length; j++) { %>
              <li><%=movies[i].actors[j].first_name %></li>
            <% } %>
          </ul>
        </a>
      </li>
      <% } %>
    </ul>
  </body>
</html>
