<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Genres</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <figure>
      <a href="/">
        <img src="/img/logo-DH.png" alt="Logo Digital House" />
      </a>
    </figure>
    <h1>Genres</h1>
    <br />
    <a class="btn btn-secondary" href="/">Home</a>
    <br />
    <br />
    <ul>
      <% for( let i = 0; i < genres.length; i++ ) { %>
      <li>
        <h3>
          <a class="link" href="/genres/detail/<%= genres[i].id %>"
            ><%= genres[i].name %></a
          >
        </h3>
      </li>

      <% } %>
    </ul>
  </body>
</html>
