<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <a href="/">
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </a>
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <br>
    <a class="link-index" href="/movies">Películas</a>
    <a class="link-index"href="/genres">Géneros</a>
    <a class="link-index"href="/actors">Actores</a>
  </body>
</html>
