<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <a href="/">
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </a>
    </figure>
    <h1><%= title %></h1>
    <p>Welcomes to <%= title %></p>
    <br>
    <a class="btn btn-secondary" href="/movies">Movies</a>
    <a class="btn btn-secondary"href="/genres">Genres</a>
    <a class="btn btn-secondary"href="/actors">Actors</a>
  </body>
</html>
