<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dar de Alta Actor</title>

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/actors.css" />
</head>

<body class="container">
    <figure class="logo">
        <a href="/">
            <img src="/img/logo-DH.png" alt="Logo Digital House">
        </a>
    </figure>
    <h1 class="heading">New Actor</h1>

    <form action="/actors/create" method="post">
        <label for="first_name">First name:</label>
        <input type="text" id="first_name" name="first_name" required>

        <label for="last_name">Last name:</label>
        <input type="text" id="last_name" name="last_name" required>

        <label for="rating">Rating:</label>
        <input type="text" id="rating" name="rating" required>
        <div class="form-buttons">
            <button type="submit">Save</button>
            <a href="/actors" class="back-button">Back</a>
        </div>
    </form>
</body>

</html>
