<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Actors</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <figure>
      <a href="/">
        <img src="/img/logo-DH.png" alt="Logo Digital House" />
      </a>
    </figure>
    <h1>Actors</h1>
    <br />
    <p>
      <a class="btn btn-primary" href="/actors/create">Create</a>
      <a class="btn btn-secondary" href="/">Home</a>
    </p>
    <br />
    <ul>
      <% for(let i = 0; i < actors.length; i++) { %>
      <li>
        <a class="link" href="/actors/detail/<%= actors[i].id %>">
          <h3><%= actors[i].first_name %> <%= actors[i].last_name %></h3>
        </a>
      </li>
      <% } %>
    </ul>
  </body>
</html>
